WBD_WebApp/web/WEB-INF/wsdl/localhost_8081/WBD_MarketplaceWebService/MarketplaceWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="DateTime" type="tns:dateTime"/>

<xs:element name="Product" type="tns:product"/>

<xs:element name="addProduct" type="tns:addProduct"/>

<xs:element name="addProductResponse" type="tns:addProductResponse"/>

<xs:element name="addPurchase" type="tns:addPurchase"/>

<xs:element name="addPurchaseResponse" type="tns:addPurchaseResponse"/>

<xs:element name="deleteProduct" type="tns:deleteProduct"/>

<xs:element name="deleteProductResponse" type="tns:deleteProductResponse"/>

<xs:element name="editProduct" type="tns:editProduct"/>

<xs:element name="editProductResponse" type="tns:editProductResponse"/>

<xs:element name="getCatalogList" type="tns:getCatalogList"/>

<xs:element name="getCatalogListResponse" type="tns:getCatalogListResponse"/>

<xs:element name="getCatalogSearch" type="tns:getCatalogSearch"/>

<xs:element name="getCatalogSearchResponse" type="tns:getCatalogSearchResponse"/>

<xs:element name="getProduct" type="tns:getProduct"/>

<xs:element name="getProductResponse" type="tns:getProductResponse"/>

<xs:element name="getPurchasesList" type="tns:getPurchasesList"/>

<xs:element name="getPurchasesListResponse" type="tns:getPurchasesListResponse"/>

<xs:element name="getSalesList" type="tns:getSalesList"/>

<xs:element name="getSalesListResponse" type="tns:getSalesListResponse"/>

<xs:element name="getYourProducts" type="tns:getYourProducts"/>

<xs:element name="getYourProductsResponse" type="tns:getYourProductsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="setLike" type="tns:setLike"/>

<xs:element name="setLikeResponse" type="tns:setLikeResponse"/>

<xs:element name="validateToken" type="tns:validateToken"/>

<xs:element name="validateTokenResponse" type="tns:validateTokenResponse"/>

<xs:complexType name="setLike">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLikeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPurchase">
<xs:sequence>
<xs:element name="product_id" type="xs:int"/>
<xs:element name="buyer_username" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="consignee" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:string" minOccurs="0"/>
<xs:element name="phone_number" type="xs:string" minOccurs="0"/>
<xs:element name="card_number" type="xs:string" minOccurs="0"/>
<xs:element name="card_verification" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPurchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProduct">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateToken">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateTokenResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogSearch">
<xs:sequence>
<xs:element name="mode" type="xs:string" minOccurs="0"/>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="n" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogSearchResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="seller_id" type="xs:int"/>
<xs:element name="seller_username" type="xs:string" minOccurs="0"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="add_time" type="tns:dateTime" minOccurs="0"/>
<xs:element name="photo" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="amount_purchased" type="xs:int"/>
<xs:element name="nlike" type="xs:int"/>
<xs:element name="liked" type="xs:boolean" minOccurs="0"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateTime">
<xs:sequence>
<xs:element name="timestamp" type="tns:timestamp"/>
<xs:element name="second" type="xs:int"/>
<xs:element name="minute" type="xs:int"/>
<xs:element name="hour" type="xs:int"/>
<xs:element name="date" type="xs:int"/>
<xs:element name="weekday" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProduct">
<xs:sequence>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="seller_username" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="photo" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchasesList">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchasesListResponse">
<xs:sequence>
<xs:element name="Purchase" type="tns:purchase" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchase">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="buyer_id" type="xs:int"/>
<xs:element name="buyer_username" type="xs:string" minOccurs="0"/>
<xs:element name="seller_id" type="xs:int"/>
<xs:element name="seller_username" type="xs:string" minOccurs="0"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="consignee" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:string" minOccurs="0"/>
<xs:element name="phone_number" type="xs:string" minOccurs="0"/>
<xs:element name="card_number" type="xs:string" minOccurs="0"/>
<xs:element name="card_verification" type="xs:string" minOccurs="0"/>
<xs:element name="purchase_time" type="tns:dateTime" minOccurs="0"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesList">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesListResponse">
<xs:sequence>
<xs:element name="Purchase" type="tns:purchase" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProduct">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProduct">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getYourProducts">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getYourProductsResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogList">
<xs:sequence>
<xs:element name="n" type="xs:int"/>
<xs:element name="token" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogListResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>