WBD_WebApp/web/WEB-INF/wsdl/localhost_8081/WBD_MarketplaceWebService/MarketplaceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="MarketplaceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8081/WBD_MarketplaceWebService/MarketplaceWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validateToken">
<part name="parameters" element="tns:validateToken"/>
</message>
<message name="validateTokenResponse">
<part name="parameters" element="tns:validateTokenResponse"/>
</message>
<message name="getCatalogList">
<part name="parameters" element="tns:getCatalogList"/>
</message>
<message name="getCatalogListResponse">
<part name="parameters" element="tns:getCatalogListResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getPurchasesList">
<part name="parameters" element="tns:getPurchasesList"/>
</message>
<message name="getPurchasesListResponse">
<part name="parameters" element="tns:getPurchasesListResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="getSalesList">
<part name="parameters" element="tns:getSalesList"/>
</message>
<message name="getSalesListResponse">
<part name="parameters" element="tns:getSalesListResponse"/>
</message>
<message name="getCatalogSearch">
<part name="parameters" element="tns:getCatalogSearch"/>
</message>
<message name="getCatalogSearchResponse">
<part name="parameters" element="tns:getCatalogSearchResponse"/>
</message>
<message name="getYourProducts">
<part name="parameters" element="tns:getYourProducts"/>
</message>
<message name="getYourProductsResponse">
<part name="parameters" element="tns:getYourProductsResponse"/>
</message>
<message name="setLike">
<part name="parameters" element="tns:setLike"/>
</message>
<message name="setLikeResponse">
<part name="parameters" element="tns:setLikeResponse"/>
</message>
<message name="addPurchase">
<part name="parameters" element="tns:addPurchase"/>
</message>
<message name="addPurchaseResponse">
<part name="parameters" element="tns:addPurchaseResponse"/>
</message>
<portType name="MarketplaceWS">
<operation name="hello">
<input wsam:Action="http://Services/MarketplaceWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Services/MarketplaceWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validateToken">
<input wsam:Action="http://Services/MarketplaceWS/validateTokenRequest" message="tns:validateToken"/>
<output wsam:Action="http://Services/MarketplaceWS/validateTokenResponse" message="tns:validateTokenResponse"/>
</operation>
<operation name="getCatalogList">
<input wsam:Action="http://Services/MarketplaceWS/getCatalogListRequest" message="tns:getCatalogList"/>
<output wsam:Action="http://Services/MarketplaceWS/getCatalogListResponse" message="tns:getCatalogListResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://Services/MarketplaceWS/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://Services/MarketplaceWS/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://Services/MarketplaceWS/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://Services/MarketplaceWS/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getPurchasesList">
<input wsam:Action="http://Services/MarketplaceWS/getPurchasesListRequest" message="tns:getPurchasesList"/>
<output wsam:Action="http://Services/MarketplaceWS/getPurchasesListResponse" message="tns:getPurchasesListResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://Services/MarketplaceWS/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://Services/MarketplaceWS/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://Services/MarketplaceWS/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://Services/MarketplaceWS/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="getSalesList">
<input wsam:Action="http://Services/MarketplaceWS/getSalesListRequest" message="tns:getSalesList"/>
<output wsam:Action="http://Services/MarketplaceWS/getSalesListResponse" message="tns:getSalesListResponse"/>
</operation>
<operation name="getCatalogSearch">
<input wsam:Action="http://Services/MarketplaceWS/getCatalogSearchRequest" message="tns:getCatalogSearch"/>
<output wsam:Action="http://Services/MarketplaceWS/getCatalogSearchResponse" message="tns:getCatalogSearchResponse"/>
</operation>
<operation name="getYourProducts">
<input wsam:Action="http://Services/MarketplaceWS/getYourProductsRequest" message="tns:getYourProducts"/>
<output wsam:Action="http://Services/MarketplaceWS/getYourProductsResponse" message="tns:getYourProductsResponse"/>
</operation>
<operation name="setLike">
<input wsam:Action="http://Services/MarketplaceWS/setLikeRequest" message="tns:setLike"/>
<output wsam:Action="http://Services/MarketplaceWS/setLikeResponse" message="tns:setLikeResponse"/>
</operation>
<operation name="addPurchase">
<input wsam:Action="http://Services/MarketplaceWS/addPurchaseRequest" message="tns:addPurchase"/>
<output wsam:Action="http://Services/MarketplaceWS/addPurchaseResponse" message="tns:addPurchaseResponse"/>
</operation>
</portType>
<binding name="MarketplaceWSPortBinding" type="tns:MarketplaceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCatalogList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchasesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSalesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCatalogSearch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getYourProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarketplaceWS">
<port name="MarketplaceWSPort" binding="tns:MarketplaceWSPortBinding">
<soap:address location="http://localhost:8081/WBD_MarketplaceWebService/MarketplaceWS"/>
</port>
</service>
</definitions>